/* --- z-index --- */
:root {
  --z-back: -1;
  --z-normal: 1;
  --z-middle: 10;
  --z-front: 20;
}

/* --- COMMON --- */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background) fixed;
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow: visible;
}

section {
  display: flex;
}

button {
  outline: none;
  text-decoration: none;
  background-color: var(--clr-back-dark);
  color: var(--clr-font-light);
  min-height: 36px;
  border-radius: 18px;
  font-size: 16px;
  font-weight: bold;
  padding: 7px;
  opacity: 1;
  transition: opacity 250ms 50ms;
}

button:hover {
  opacity: 0.7;
  cursor: pointer;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  min-width: 80px;
  max-width: 80px;
}
@media screen and (max-width: 750px) {
  img {
    min-width: 60px;
    max-width: 60px;
  }
}

/* --- HEADER --- */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: var(--font);
  color: var(--clr-font-dark);
}
.content__header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.content__header__title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--clr-back-middle);
  font-family: var(--font-title);
  font-size: var(--font-size-h1-small);
  text-align: center;
  color: var(--clr-font-dark);
  padding: 5px;
}
.content__header__profil {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .content__header__profil {
    flex-direction: column;
  }
}
.content__header__profil__avatars {
  display: flex;
  flex-direction: column;
  margin: 2px 5px;
}
.content__header__profil__avatars .photo {
  display: flex;
  flex-direction: row;
  border: 2px solid white;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
}
.content__header__profil__avatars .photo__profil, .content__header__profil__avatars .photo__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content__header__profil__avatars .photo__profil img, .content__header__profil__avatars .photo__avatar img {
  max-width: 50px;
  min-width: 50px;
  min-height: 50px;
  max-height: 50px;
}
.content__header__profil__names {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border: 2px solid var(--clr-font-dark);
  border-radius: 5px;
}
.content__header__profil__names__name {
  font-size: 11px;
  font-family: var(--font);
  padding: 2px 5px;
  border: 1px 0 solid var(--clr-font-dark);
}
.content__header__profil__buttons {
  display: flex;
  flex-direction: column;
}
.content__header__profil__buttons button {
  margin: 3px 10px;
}
.content__header__nav {
  background-color: var(--clr-back-light);
}
.content__header__nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
}
@media screen and (min-width: 768px) {
  .content__header__nav ul {
    justify-content: center;
  }
}
.content__header__nav ul li {
  padding: 0 15px;
}
.content__header__nav ul li a {
  color: var(--clr-font-dark);
  font-weight: 700;
}
.content__header__nav__separation {
  width: 3px;
  height: 14px;
  background-color: var(--clr-font-dark);
}

/* --- TIMES VIEW --- */
.userTimes {
  border: 3px solid var(--clr-back-middle);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0;
  padding: 10px;
  background-color: var(--clr-back-light);
}

/* --- CONTACT --- */
.contact {
  margin: 15px;
  border: 3px solid var(--clr-back-middle);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: var(--clr-back-light);
}
.contact input,
.contact textarea,
.contact label,
.contact h2 {
  padding: 5px;
  margin: 10px;
}
.contact p {
  text-align: center;
  max-width: 500px;
}

/* --- PRIVACY POLICY --- */
.confidentialite {
  margin: 15px;
  padding: 20px;
  border: 3px solid var(--clr-back-middle);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: white;
}
.confidentialite h1,
.confidentialite h2,
.confidentialite h3 {
  align-self: center;
  padding: 15px;
}

/* --- ANIMATION --- */
@keyframes floating {
  50% {
    transform: translatey(-8px);
  }
}
/* --- z-index --- */
:root {
  --z-back: -1;
  --z-normal: 1;
  --z-middle: 10;
  --z-front: 20;
}

.bloc {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-back-block);
  margin: 0;
  padding: 0;
  width: 3.7vw;
  height: 3vh;
  overflow: visible;
}
@media screen and (min-width: 768px) {
  .bloc {
    width: 30px;
    height: 20px;
  }
}
.bloc img {
  z-index: var(--z-middle);
  animation: floating 2s infinite ease-in-out;
}

.content__racesIndex {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  margin-top: 10px;
}
.content__racesIndex__intel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  padding: 10px;
  margin-top: 50px;
  background-color: var(--clr-back-light);
  border: 3px solid var(--clr-font-dark);
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .content__racesIndex__intel {
    max-width: 800px;
  }
}
.content__racesIndex__intel h3 {
  margin: 10px 0 10px 0;
  font-size: var(--font-size-h3-small);
}
.content__racesIndex__intel ul {
  width: 90%;
}
.content__racesIndex__intel ul li {
  list-style-type: disc;
  padding: 5px;
}
.content__sprint {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 99%;
  margin-top: 10px;
  padding: 10px 0;
  background-color: var(--clr-font-light);
  border: 3px solid var(--clr-back-middle);
  border-radius: 10px;
}
@media screen and (min-width: 600px) {
  .content__sprint {
    max-width: 600px;
  }
}
.content__sprint__comments, .content__sprint__options, .content__sprint__chrono, .content__sprint__time {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 75px;
  border-radius: 10px;
  margin: 8px;
  font-size: var(--font-size-p-small);
  background-color: whitesmoke;
  border: 2px solid var(--clr-back-middle);
  border-radius: 10px;
}
.content__sprint__comments__item, .content__sprint__options__item, .content__sprint__chrono__item, .content__sprint__time__item {
  display: flex;
  margin: 5px;
}
.content__sprint__comments__item > select, .content__sprint__options__item > select, .content__sprint__chrono__item > select, .content__sprint__time__item > select {
  font-size: var(--font-size-p-small);
}
.content__sprint__comments__item p, .content__sprint__options__item p, .content__sprint__chrono__item p, .content__sprint__time__item p {
  margin: 5px;
}
.content__sprint__comments p, .content__sprint__options p, .content__sprint__chrono p, .content__sprint__time p {
  margin: 5px;
}
.content__sprint__comments__melange, .content__sprint__options__melange, .content__sprint__chrono__melange, .content__sprint__time__melange {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .content__sprint__comments, .content__sprint__options, .content__sprint__chrono, .content__sprint__time {
    font-size: var(--font-size-p-regular);
    width: 75%;
  }
}
.content__sprint__little {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  background-color: var(--clr-font-light);
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
}
.content__sprint__little__blocks {
  display: flex;
}
.content__sprint__little__blocks__start {
  width: 50px;
  background-image: url(../images/damier.png);
  background-position: center;
  background-repeat: repeat;
}
.content__sprint__little__blocks__start img {
  z-index: var(--z-middle);
  animation: floating 2s infinite ease-in-out;
}
.content__sprint__little__blocks__finish {
  width: 50px;
  background-image: url(../images/damier.png);
  background-position: center;
  background-repeat: repeat;
}
.content__sprint__little__blocks__finish img {
  z-index: var(--z-middle);
  animation: floating 2s infinite ease-in-out;
}
.content__marathon {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-font-light);
  padding: 20px;
  margin: 20px;
  border: 3px solid var(--clr-back-middle);
  border-radius: 20px;
}
.content__marathon__2 {
  display: flex;
  flex-direction: column-reverse;
}
.content__marathon__3 {
  display: flex;
  flex-direction: row-reverse;
}
.content__marathon__4 {
  display: flex;
  flex-direction: column;
}
.content__marathon__5 {
  display: flex;
  flex-direction: row;
}
.content__marathon__middle {
  display: flex;
  justify-content: space-between;
  width: 88.8vw;
}
@media screen and (min-width: 768px) {
  .content__marathon__middle {
    width: 720px;
  }
}
.content__marathon__middle__inside {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.multiplication {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 75px;
  border-radius: 10px;
  margin: 10px;
  font-size: var(--font-size-h3-regular);
}
.multiplication__item {
  display: flex;
  margin: 10px;
}
.multiplication__item > select {
  font-size: 20px;
}
.multiplication__item__result {
  width: 100px;
  border: 1px solid black;
  font-size: 20px;
}

#start_finish {
  width: 29.6vw;
  height: 3vh;
  overflow: visible;
  background-image: url("../images/damier.png");
  background-position: center;
  background-repeat: repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media screen and (min-width: 768px) {
  #start_finish {
    width: 240px;
    height: 20px;
  }
}
#start_finish img {
  z-index: var(--z-middle);
  animation: floating 2s infinite ease-in-out;
}

/* --- WINNER VIEW --- */
.winner {
  position: fixed;
  top: 1500px;
  height: 100vh;
  width: 100%;
  background-color: var(--clr-back-dark);
  z-index: var(--z-front);
  display: flex;
  justify-content: center;
  align-items: center;
}
.winner__box {
  width: 600px;
  height: 500px;
  border: 3px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-back-light);
  color: var(--clr-font-dark);
}
.winner__box__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 120px;
  height: 120px;
  border: 3px solid white;
  border-radius: 50%;
  background-color: var(--clr-back-logo);
  position: relative;
  top: -60px;
}
.winner__box__logo img {
  padding-top: 10px;
  min-width: 100px;
  max-width: 100px;
  animation: floating 2s infinite ease-in-out;
}
.winner__box__msg {
  text-align: center;
  font-family: var(--font-title);
  font-size: var(--font-size-h1-small);
}
.winner__box__time {
  margin-top: 30px;
}
.winner__box__button {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

/* ANIMATION */
.anim_gagnant {
  animation: gagnant 0.5s ease-in-out forwards;
}

@keyframes gagnant {
  0% {
    top: 1500px;
  }
  100% {
    top: 0px;
  }
}
/* --- PROFIL --- */
.content__profil {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}
.content__profil__title {
  background: white;
  border: 2px solid var(--clr-font-darker);
  border-radius: 10px;
  box-shadow: 0 5px 12px -1px black;
  margin: 15px;
  padding: 10px;
}
.content__profil__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 400px;
}
.content__profil__items__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  background-color: var(--clr-back-light);
  border: 2px solid var(--clr-font-darker);
  border-radius: 2.5rem;
  box-shadow: 0 5px 12px -1px black;
  margin: 25px;
  overflow: hidden;
}
.content__profil__items__card__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content__profil__items__card__item img {
  min-width: 60px;
  max-width: 60px;
  min-height: 60px;
  max-height: 60px;
}
.content__profil__items__card__item h2 {
  display: flex;
  align-items: center;
  padding: 5px;
  width: 100%;
}
.content__profil__items__card__toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--clr-back-light);
  padding: 5px;
  position: relative;
  bottom: 0;
  overflow: hidden;
}
.content__profil__items__card__toggle h3 {
  background-color: var(--clr-back-logo);
  border: 2px solid var(--clr-font-darker);
  border-radius: 10px;
  padding: 3px 10px;
  margin: 10px;
  cursor: pointer;
}
.content__profil__items__card__toggle p {
  width: 80%;
  margin: 10px;
}
.content__profil__items__card__toggle form {
  display: flex;
  flex-direction: column;
  margin: 0 0 10px 0;
}
.content__profil__items__card__toggle input {
  padding: 8px;
  margin: 5px;
}
.content__profil__items__card__toggle label {
  margin: 5px;
}

.shrink {
  animation: frontShrink 250ms 100ms both;
}

.extend {
  animation: frontExtend 250ms 100ms both;
}

@keyframes frontShrink {
  0% {
    height: 350px;
  }
  100% {
    height: 60px;
  }
}
@keyframes frontExtend {
  0% {
    height: 60px;
  }
  100% {
    height: 350px;
  }
}
/* --- z-index --- */
:root {
  --z-back: -1;
  --z-normal: 1;
  --z-middle: 10;
  --z-front: 20;
}

/* --- LOGIN --- */
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  color: var(--clr-font-darker);
}
.login__title {
  position: absolute;
  min-width: 320px;
  max-width: 450px;
  height: 60px;
  padding: 5px;
  background-color: var(--clr-back-middle);
  text-align: center;
  border: 3px solid white;
  border-radius: 15px;
  font-size: var(--font-size-h1-regular);
  font-family: var(--font-title);
}
.login__box {
  position: absolute;
  top: 30px;
  min-width: 320px;
  max-width: 450px;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 90px;
  background-color: var(--clr-back-light);
  font-family: var(--font-title);
  border: 3px solid white;
  border-radius: 15px;
}
.login__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 120px;
  height: 120px;
  border: 3px solid white;
  border-radius: 50%;
  background-color: var(--clr-back-logo);
  position: absolute;
  top: -60px;
}
.login__logo img {
  padding-top: 10px;
  min-width: 80px;
  max-width: 80px;
  animation: floating 2s infinite ease-in-out;
}
.login__info {
  position: absolute;
  z-index: var(--z-front);
  top: -500px;
  left: 40%;
  min-height: 20px;
  max-width: 300px;
  padding: 10px 5px;
  text-align: center;
  background-color: var(--clr-font-light);
  color: var(--clr-font-darker);
  border: 3px solid var(--clr-font-dark);
  border-radius: 30px;
  font-family: cursive;
  animation: loginInfo 5s;
}
.login__content {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 70px;
}
.login__content__sepH {
  width: 200px;
  height: 1px;
  border: 1px solid var(--clr-back-darker);
  margin: 6px;
}
.login__content form {
  width: 100%;
}
.login__content form > button {
  width: 80%;
  margin: 0 10% 10px 10%;
}
.login__content form input {
  width: 100%;
  border: none;
  border-bottom: 3px solid white;
  background: transparent;
  outline: none;
  height: 25px;
  color: var(--clr-font-darker);
}
.login__content form input[type=checkbox] {
  width: 10%;
  height: 18px;
}
.login__content form label {
  margin-top: 15px;
  display: flex;
  align-items: center;
  font-size: 1em;
  font-weight: bold;
}
.login__content p {
  font-size: 1em;
  font-weight: bold;
}
.login__content button {
  width: 100%;
}
.login__content a {
  text-decoration: none;
  text-align: center;
  margin: 4px;
  width: 100%;
  color: var(--clr-font-darker);
  font-weight: bold;
  line-height: 18px;
}
.login__content a:hover {
  color: var(--clr-font-hover);
}

/* ANIMATION */
@keyframes loginInfo {
  0% {
    top: -500px;
  }
  10% {
    top: 10%;
  }
  90% {
    top: 10%;
  }
  100% {
    top: -500px;
  }
}
footer {
  width: 100%;
  background-color: var(--clr-back-darker);
  align-self: flex-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer .content {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: var(--font-footer);
  color: var(--clr-font-light);
}
@media screen and (max-width: 768px) {
  footer .content {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
footer .content .usefullLinks {
  display: flex;
  align-items: center;
  padding: 10px;
}
footer .content .usefullLinks a {
  font-family: var(--font-footer);
  color: var(--clr-font-light);
  font-weight: 600;
  padding: 0 10px;
}
footer .content .usefullLinks .sep {
  width: 1px;
  height: 15px;
  border: 1px solid white;
}
footer .content .logo {
  padding: 2px;
  display: flex;
  align-items: center;
  font-weight: 600;
}
footer .content .logo img {
  width: 100px;
  padding: 2px 10px;
}
footer .content .logo p {
  padding: 20px 50px 20px 5px;
}

/* --- FONTS --- */
@font-face {
  font-family: "beth_ellen_2regular";
  src: url(../fonts/Beth-Ellen/beth-ellen-2.0-webfont.woff2) format("woff2"), url(../fonts/Beth-Ellen/beth-ellen-2.0-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "open_sansregular";
  src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* --- COULEURS --- */
:root {
  --clr-font-light: rgb(214, 212, 212);
  --clr-font: rgb(54, 54, 54);
  --clr-font-dark: rgb(38, 38, 38);
  --clr-font-darker: rgb(28, 28, 28);
  --clr-font-hover: rgba(255, 239, 92, 0.938);
  --clr-back-light: #946c92;
  --clr-back-middle: rgb(183, 181, 221);
  --clr-back-dark: rgb(44, 49, 122);
  --clr-back-darker: rgb(59, 67, 179);
  --clr-back-logo: rgb(255, 254, 218);
  --clr-back-block: rgb(255, 212, 132);
}

/* --- FONT CONST --- */
:root {
  --font: "open_sansregular", cursive, arial;
  --font-footer: "open_sansregular", cursive;
  --font-title: "beth_ellen_2regular", cursive;
  --font-size-h1-small: 13px;
  --font-size-h1-regular: 16px;
  --font-size-h3-small: 20px;
  --font-size-h3-regular: 25px;
  --font-size-p-regular: 20px;
  --font-size-p-small: 16px;
}

/* --- BACKGROUND ---*/
:root {
  --background: url(../images/landscape-mountain.jpg);
}