/* --- FONTS --- */
@font-face {
  font-family: "Digory_Doodles_PS";
  src: url(../fonts/Digory_Doodles_PS.ttf);
  font-weight: normal;
  font-style: normal;
}
/* --- VARIABLE SCSS --- */
/* --- COULEURS --- */
:root {
  --color-font: blueviolet;
  --color-dark-pink: rgb(238, 167, 234);
  --color-darker-pink: rgb(209, 133, 206);
  --color-light-pink: #ffe8fe;
  --color-blueviolet: blueviolet;
  --color-light-blueviolet: rgba(137, 43, 226, 0.8);
  --color-dark-blueviolet: rgb(111, 0, 216);
  --color-light-blue: rgb(218, 232, 255);
}

/* --- FONT CONST --- */
:root {
  --font: cursive, arial;
  --font-footer: "Open Sans", cursive;
  --font-title: "Digory_Doodles_PS", cursive;
  --font-size-h1-small: 10px;
  --font-size-h1-regular: 16px;
  --font-size-h3-small: 18px;
  --font-size-h3-regular: 20px;
}

/* --- z-index --- */
:root {
  --z-back: -1;
  --z-normal: 1;
  --z-middle: 10;
  --z-front: 20;
}

/* --- COMMON --- */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../images/visages-mignons.jpg) repeat-y;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow: visible;
}

section {
  display: flex;
}

button {
  outline: none;
  background-color: var(--color-blueviolet);
  color: white;
  height: 36px;
  border-radius: 18px;
  font-size: 16px;
  font-weight: bold;
  padding: 7px;
}

button:hover {
  background-color: var(--color-light-blueviolet);
  color: var(--color-light-pink);
  cursor: pointer;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.bloc {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9797ff;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  overflow: visible;
}
.bloc img {
  min-width: 100px;
  max-width: 100px;
  z-index: var(--z-middle);
  animation: floating 2s infinite ease-in-out;
}

/* --- LOGIN --- */
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  color: var(--color-blueviolet);
}
.login__title {
  position: absolute;
  width: 400px;
  height: 60px;
  padding: 5px;
  background-color: var(--color-dark-pink);
  text-align: center;
  border: 3px solid white;
  border-radius: 15px;
  font-size: 20px;
  font-family: var(--font-title);
}
.login__box {
  position: absolute;
  top: 30px;
  width: 400px;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 90px;
  background-color: var(--color-light-pink);
  font-family: cursive;
  border: 3px solid white;
  border-radius: 15px;
}
.login__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 120px;
  height: 120px;
  border: 3px solid white;
  border-radius: 50%;
  background-color: var(--color-light-blue);
  position: absolute;
  top: -60px;
}
.login__logo img {
  padding-top: 10px;
  animation: floating 2s infinite ease-in-out;
}
.login__info {
  position: absolute;
  z-index: var(--z-front);
  top: 10%;
  left: 40%;
  min-height: 20px;
  max-width: 300px;
  padding: 10px 5px;
  text-align: center;
  background-color: white;
  color: var(--font);
  border: 3px solid var(--color-blueviolet);
  border-radius: 30px;
  font-family: cursive;
}
.login__content {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 70px;
}
.login__content h3 {
  font-size: 20px;
  font-size: 1.7em;
  margin-bottom: 20px;
}
.login__content form {
  width: 100%;
}
.login__content form > button {
  width: 80%;
  margin: 20px 10% 10px 10%;
}
.login__content form input {
  width: 100%;
  border: none;
  border-bottom: 3px solid white;
  background: transparent;
  outline: none;
  height: 25px;
  color: var(--font);
}
.login__content form input[type=checkbox] {
  width: 10%;
  height: 18px;
}
.login__content form label {
  margin-top: 15px;
  display: flex;
  align-items: center;
  font-size: 1em;
  font-weight: bold;
}
.login__content p {
  font-size: 1em;
  font-weight: bold;
}
.login__content button {
  width: 100%;
}
.login__content a {
  text-decoration: none;
  margin: 10px;
  width: 100%;
  color: var(--blueviolet);
  font-weight: bold;
  line-height: 18px;
}
.login__content a:hover {
  color: var(--light-blueviolet);
}

/* --- CONTENT --- */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: var(--font);
  color: var(--color-blueviolet);
  /* --- RACE --- */
  /* --- PROFIL --- */
}
.content__header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.content__header__title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--color-dark-pink);
  font-family: var(--font-title);
  font-size: var(--font-size-h1-small);
  text-align: center;
  color: var(--color-blueviolet);
  padding: 5px;
}
.content__header__title__profil {
  display: flex;
  align-items: center;
}
.content__header__title__profil__avatar {
  display: flex;
  flex-direction: column;
}
.content__header__title__profil__avatar img {
  border: 3px solid white;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
}
.content__header__title__profil__pseudo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-family: var(--font);
  padding: 2px 5px;
  background-color: white;
  border: 2px solid var(--color-blueviolet);
  border-radius: 5px;
}
.content__header__title__profil__button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-family: var(--font);
  padding: 4px 8px;
  margin: 2px 10px;
  background-color: var(--color-blueviolet);
  border: 2px solid white;
  color: white;
  border-radius: 5px;
}
.content__header__title__profil__buttons {
  display: flex;
  flex-direction: column;
}
.content__header__nav {
  background-color: var(--color-light-pink);
}
.content__header__nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
}
@media screen and (min-width: 768px) {
  .content__header__nav ul {
    justify-content: center;
  }
}
.content__header__nav ul li {
  padding: 0 15px;
}
.content__header__nav__separation {
  width: 3px;
  height: 14px;
  background-color: var(--color-blueviolet);
}
.content__racesIndex {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  margin-top: 10px;
}
.content__racesIndex__intel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  padding: 10px;
  margin-top: 50px;
  background-color: white;
  border: 3px solid var(--color-blueviolet);
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .content__racesIndex__intel {
    max-width: 800px;
  }
}
.content__racesIndex__intel h3 {
  margin: 10px 0 10px 0;
  font-size: var(--font-size-h3-small);
}
.content__racesIndex__intel ul {
  width: 90%;
}
.content__racesIndex__intel ul li {
  list-style-type: disc;
  padding: 5px;
}
.content__sprint {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 99%;
  margin-top: 10px;
  padding: 10px 0;
  background-color: white;
  border: 3px solid var(--color-dark-pink);
  border-radius: 10px;
}
@media screen and (min-width: 600px) {
  .content__sprint {
    max-width: 600px;
  }
}
.content__sprint__comments, .content__sprint__options, .content__sprint__chrono, .content__sprint__time, .content__sprint__multipli {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 75px;
  border-radius: 10px;
  margin: 10px;
  font-size: var(--font-size-h3-regular);
}
.content__sprint__comments__item, .content__sprint__options__item, .content__sprint__chrono__item, .content__sprint__time__item, .content__sprint__multipli__item {
  height: 50px;
}
.content__sprint__comments input[type=number], .content__sprint__options input[type=number], .content__sprint__chrono input[type=number], .content__sprint__time input[type=number], .content__sprint__multipli input[type=number] {
  width: 100px;
}
@media screen and (min-width: 768px) {
  .content__sprint__comments, .content__sprint__options, .content__sprint__chrono, .content__sprint__time, .content__sprint__multipli {
    width: 75%;
  }
}
.content__sprint__little {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  background-color: white;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
}
.content__sprint__little__blocks {
  display: flex;
}
.content__sprint__little__blocks__start {
  width: 50px;
  background-image: url(../images/damier.png);
  background-position: center;
  background-repeat: repeat;
}
.content__sprint__little__blocks__start img {
  min-width: 100px;
  max-width: 100px;
  z-index: var(--z-middle);
  animation: floating 2s infinite ease-in-out;
}
.content__sprint__little__blocks__finish {
  width: 50px;
  background-image: url(../images/damier.png);
  background-position: center;
  background-repeat: repeat;
}
.content__sprint__little__blocks__finish img {
  min-width: 100px;
  max-width: 100px;
  z-index: var(--z-middle);
  animation: floating 2s infinite ease-in-out;
}
.content__marathon {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  margin: 20px;
  border: 3px solid var(--color-dark-pink);
  border-radius: 20px;
}
.content__marathon__2 {
  display: flex;
  flex-direction: column-reverse;
}
.content__marathon__3 {
  display: flex;
  flex-direction: row-reverse;
}
.content__marathon__4 {
  display: flex;
  flex-direction: column;
}
.content__marathon__5 {
  display: flex;
  flex-direction: row;
}
.content__marathon__middle {
  display: flex;
  justify-content: space-between;
  width: 480px;
}
.content__marathon__middle__inside {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.content__profil {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}
.content__profil__title {
  background: white;
  border: 2px solid var(--color-dark-blueviolet);
  border-radius: 10px;
  box-shadow: 0 5px 12px -1px black;
  margin: 15px;
  padding: 10px;
}
.content__profil__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding: 20px;
}
.content__profil__items__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 350px;
  min-height: 400px;
  background: white;
  border: 2px solid var(--color-dark-blueviolet);
  border-radius: 2.5rem;
  box-shadow: 0 5px 12px -1px black;
  margin: 15px;
  padding: 10px;
}
.content__profil__items__card__item {
  margin: 20px 0;
}
.content__profil__items__card__item input {
  margin: 5px;
}

#start_finish {
  width: 160px;
  height: 20px;
  overflow: visible;
  background-image: url("../images/damier.png");
  background-position: center;
  background-repeat: repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#start_finish img {
  min-width: 100px;
  max-width: 100px;
  z-index: var(--z-middle);
  animation: floating 2s infinite ease-in-out;
}

/* --- WINNER VIEW --- */
.winner {
  position: fixed;
  top: 1000px;
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 170, 244, 0.3);
  z-index: var(--z-front);
  display: flex;
  justify-content: center;
  align-items: center;
}
.winner__box {
  width: 600px;
  height: 500px;
  border: 3px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-light-pink);
  color: var(--color-blueviolet);
}
.winner__box__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 120px;
  height: 120px;
  border: 3px solid white;
  border-radius: 50%;
  background-color: var(--color-light-blue);
  position: relative;
  top: -60px;
}
.winner__box__logo img {
  padding-top: 10px;
  animation: floating 2s infinite ease-in-out;
}
.winner__box__msg {
  text-align: center;
  font-family: var(--font-title);
}
.winner__box__time {
  margin-top: 30px;
}
.winner__box__button {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

/* --- TIMES VIEW --- */
.userTimes {
  border: 3px solid var(--color-dark-pink);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: white;
}

footer {
  width: 100%;
  background-color: var(--color-dark-pink);
  align-self: flex-end;
  font-family: var(--font-footer);
}

/* --- ANIMATION --- */
@keyframes floating {
  50% {
    transform: translatey(-8px);
  }
}
.anim_gagnant {
  animation: gagnant 0.5s ease-in-out forwards;
}

@keyframes gagnant {
  0% {
    top: 1000px;
  }
  100% {
    top: 0px;
  }
}