@import "./partial/base.scss";
@import "./partial/races.scss";
@import "./partial/profil.scss";

/* --- FONTS --- */
@font-face {
  font-family: "Digory_Doodles_PS";
  src: url(../fonts/Digory_Doodles_PS.ttf);
  font-weight: normal;
  font-style: normal;
}

/* --- COULEURS --- */
:root {
  --clr-font-light: rgb(242, 242, 242);
  --clr-font: rgb(46, 46, 46);
  --clr-font-dark: rgb(38, 38, 38);
  --clr-font-darker: rgb(28, 28, 28);
  --clr-font-hover: rgba(68, 68, 68, 0.8);
  --clr-back-light: #ffe8fe;
  --clr-back-middle: rgb(171, 167, 238);
  --clr-back-dark: rgb(83, 94, 255);
  --clr-back-logo: rgb(255, 254, 218);
  --clr-back-block: rgb(252, 224, 171);
}

/* --- FONT CONST --- */
:root {
  --font: cursive, arial;
  --font-footer: "Open Sans", cursive;
  --font-title: "Digory_Doodles_PS", cursive;
  --font-size-h1-small: 10px;
  --font-size-h1-regular: 16px;
  --font-size-h3-small: 18px;
  --font-size-h3-regular: 20px;
}

/* --- BACKGROUND ---*/

:root {
  --background: url(../images/landscape-mountain.jpg);
}