/* --- z-index --- */
:root {
  --z-back: -1;
  --z-normal: 1;
  --z-middle: 10;
  --z-front: 20;
}

/* --- COMMON --- */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background) fixed;
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow: visible;
}

section {
  display: flex;
}

button {
  outline: none;
  text-decoration: none;
  background-color: var(--clr-font-dark);
  color: white;
  height: 36px;
  border-radius: 18px;
  font-size: 16px;
  font-weight: bold;
  padding: 7px;
}

button:hover {
  background-color: var(--clr-font-hover);
  color: var(--color-font-lighter);
  cursor: pointer;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  min-width: 80px;
  max-width: 100px;
}

.bloc {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-back-block);
  margin: 0;
  padding: 0;
  width: 3.7vw;
  height: 3vh;
  overflow: visible;
}
@media screen and (min-width: 768px) {
  .bloc {
    width: 30px;
    height: 20px;
  }
}
.bloc img {
  z-index: var(--z-middle);
  animation: floating 2s infinite ease-in-out;
}

/* --- LOGIN --- */
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  color: var(--clr-font-darker);
}
.login__title {
  position: absolute;
  width: 400px;
  height: 60px;
  padding: 5px;
  background-color: var(--clr-back-middle);
  text-align: center;
  border: 3px solid white;
  border-radius: 15px;
  font-size: 20px;
  font-family: var(--font-title);
}
.login__box {
  position: absolute;
  top: 30px;
  width: 400px;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 90px;
  background-color: var(--clr-back-light);
  font-family: cursive;
  border: 3px solid white;
  border-radius: 15px;
}
.login__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 120px;
  height: 120px;
  border: 3px solid white;
  border-radius: 50%;
  background-color: var(--clr-back-logo);
  position: absolute;
  top: -60px;
}
.login__logo img {
  padding-top: 10px;
  animation: floating 2s infinite ease-in-out;
}
.login__info {
  position: absolute;
  z-index: var(--z-front);
  top: -500px;
  left: 40%;
  min-height: 20px;
  max-width: 300px;
  padding: 10px 5px;
  text-align: center;
  background-color: white;
  color: var(--clr-font-darker);
  border: 3px solid var(--clr-font-dark);
  border-radius: 30px;
  font-family: cursive;
  animation: loginInfo 5s;
}
.login__content {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 70px;
}
.login__content h3 {
  font-size: 20px;
  font-size: 1.7em;
  margin-bottom: 20px;
}
.login__content form {
  width: 100%;
}
.login__content form > button {
  width: 80%;
  margin: 20px 10% 10px 10%;
}
.login__content form input {
  width: 100%;
  border: none;
  border-bottom: 3px solid white;
  background: transparent;
  outline: none;
  height: 25px;
  color: var(--clr-font-darker);
}
.login__content form input[type=checkbox] {
  width: 10%;
  height: 18px;
}
.login__content form label {
  margin-top: 15px;
  display: flex;
  align-items: center;
  font-size: 1em;
  font-weight: bold;
}
.login__content p {
  font-size: 1em;
  font-weight: bold;
}
.login__content button {
  width: 100%;
}
.login__content a {
  text-decoration: none;
  margin: 10px;
  width: 100%;
  color: var(--clr-font-darker);
  font-weight: bold;
  line-height: 18px;
}
.login__content a:hover {
  color: var(--clr-font-hover);
}

/* --- CONTENT --- */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: var(--font);
  color: var(--clr-font-dark);
}
.content__header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.content__header__title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--clr-back-middle);
  font-family: var(--font-title);
  font-size: var(--font-size-h1-small);
  text-align: center;
  color: var(--clr-font-dark);
  padding: 5px;
}
.content__header__title__profil {
  display: flex;
  align-items: center;
}
.content__header__title__profil__avatar {
  display: flex;
  flex-direction: column;
}
.content__header__title__profil__avatar img {
  border: 3px solid white;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
}
.content__header__title__profil__pseudo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-family: var(--font);
  padding: 2px 5px;
  background-color: white;
  border: 2px solid var(--clr-font-dark);
  border-radius: 5px;
}
.content__header__title__profil__button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-family: var(--font);
  padding: 4px 8px;
  margin: 2px 10px;
  background-color: var(--clr-font-dark);
  border: 2px solid white;
  color: white;
  border-radius: 5px;
}
.content__header__title__profil__buttons {
  display: flex;
  flex-direction: column;
}
.content__header__nav {
  background-color: var(--clr-back-light);
}
.content__header__nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
}
@media screen and (min-width: 768px) {
  .content__header__nav ul {
    justify-content: center;
  }
}
.content__header__nav ul li {
  padding: 0 15px;
}
.content__header__nav__separation {
  width: 3px;
  height: 14px;
  background-color: var(--clr-font-dark);
}

/* --- TIMES VIEW --- */
.userTimes {
  border: 3px solid var(--clr-back-middle);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: white;
}

footer {
  width: 100%;
  background-color: var(--clr-back-middle);
  align-self: flex-end;
  font-family: var(--font-footer);
}

/* --- ANIMATION --- */
@keyframes floating {
  50% {
    transform: translatey(-8px);
  }
}
@keyframes loginInfo {
  0% {
    top: -500px;
  }
  10% {
    top: 10%;
  }
  90% {
    top: 10%;
  }
  100% {
    top: -500px;
  }
}