/* --- z-index --- */
:root {
  --z-back: -1;
  --z-normal: 1;
  --z-middle: 10;
  --z-front: 20;
}

.bloc {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-back-block);
  margin: 0;
  padding: 0;
  width: 3.7vw;
  height: 3vh;
  overflow: visible;
}
@media screen and (min-width: 768px) {
  .bloc {
    width: 30px;
    height: 20px;
  }
}
.bloc img {
  z-index: var(--z-middle);
  animation: floating 2s infinite ease-in-out;
}

.content__racesIndex {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  margin-top: 10px;
}
.content__racesIndex__intel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  padding: 10px;
  margin-top: 50px;
  background-color: var(--clr-back-light);
  border: 3px solid var(--clr-font-dark);
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .content__racesIndex__intel {
    max-width: 800px;
  }
}
.content__racesIndex__intel h3 {
  margin: 10px 0 10px 0;
  font-size: var(--font-size-h3-small);
}
.content__racesIndex__intel ul {
  width: 90%;
}
.content__racesIndex__intel ul li {
  list-style-type: disc;
  padding: 5px;
}
.content__sprint {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 99%;
  margin-top: 10px;
  padding: 10px 0;
  background-color: var(--clr-font-light);
  border: 3px solid var(--clr-back-middle);
  border-radius: 10px;
}
@media screen and (min-width: 600px) {
  .content__sprint {
    max-width: 600px;
  }
}
.content__sprint__comments, .content__sprint__options, .content__sprint__chrono, .content__sprint__time {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 75px;
  border-radius: 10px;
  margin: 10px;
  font-size: var(--font-size-p-regular);
}
.content__sprint__comments__item, .content__sprint__options__item, .content__sprint__chrono__item, .content__sprint__time__item {
  display: flex;
  margin: 10px;
}
.content__sprint__comments__item > select, .content__sprint__options__item > select, .content__sprint__chrono__item > select, .content__sprint__time__item > select {
  font-size: var(--font-size-p-regular);
}
.content__sprint__comments__item p, .content__sprint__options__item p, .content__sprint__chrono__item p, .content__sprint__time__item p {
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .content__sprint__comments, .content__sprint__options, .content__sprint__chrono, .content__sprint__time {
    width: 75%;
  }
}
.content__sprint__little {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  background-color: var(--clr-font-light);
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
}
.content__sprint__little__blocks {
  display: flex;
}
.content__sprint__little__blocks__start {
  width: 50px;
  background-image: url(../images/damier.png);
  background-position: center;
  background-repeat: repeat;
}
.content__sprint__little__blocks__start img {
  min-width: 100px;
  max-width: 100px;
  z-index: var(--z-middle);
  animation: floating 2s infinite ease-in-out;
}
.content__sprint__little__blocks__finish {
  width: 50px;
  background-image: url(../images/damier.png);
  background-position: center;
  background-repeat: repeat;
}
.content__sprint__little__blocks__finish img {
  min-width: 100px;
  max-width: 100px;
  z-index: var(--z-middle);
  animation: floating 2s infinite ease-in-out;
}
.content__marathon {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-font-light);
  padding: 20px;
  margin: 20px;
  border: 3px solid var(--clr-back-middle);
  border-radius: 20px;
}
.content__marathon__2 {
  display: flex;
  flex-direction: column-reverse;
}
.content__marathon__3 {
  display: flex;
  flex-direction: row-reverse;
}
.content__marathon__4 {
  display: flex;
  flex-direction: column;
}
.content__marathon__5 {
  display: flex;
  flex-direction: row;
}
.content__marathon__middle {
  display: flex;
  justify-content: space-between;
  width: 88.8vw;
}
@media screen and (min-width: 768px) {
  .content__marathon__middle {
    width: 720px;
  }
}
.content__marathon__middle__inside {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.multiplication {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 75px;
  border-radius: 10px;
  margin: 10px;
  font-size: var(--font-size-h3-regular);
}
.multiplication__item {
  display: flex;
  margin: 10px;
}
.multiplication__item > select {
  font-size: 20px;
}
.multiplication__item__result {
  width: 100px;
  border: 1px solid black;
  font-size: 20px;
}

#start_finish {
  width: 29.6vw;
  height: 3vh;
  overflow: visible;
  background-image: url("../images/damier.png");
  background-position: center;
  background-repeat: repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media screen and (min-width: 768px) {
  #start_finish {
    width: 240px;
    height: 20px;
  }
}
#start_finish img {
  min-width: 100px;
  max-width: 100px;
  z-index: var(--z-middle);
  animation: floating 2s infinite ease-in-out;
}

/* --- WINNER VIEW --- */
.winner {
  position: fixed;
  top: 1500px;
  height: 100vh;
  width: 100%;
  background-color: var(--clr-back-dark);
  z-index: var(--z-front);
  display: flex;
  justify-content: center;
  align-items: center;
}
.winner__box {
  width: 600px;
  height: 500px;
  border: 3px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-back-light);
  color: var(--clr-font-dark);
}
.winner__box__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 120px;
  height: 120px;
  border: 3px solid white;
  border-radius: 50%;
  background-color: var(--clr-back-logo);
  position: relative;
  top: -60px;
}
.winner__box__logo img {
  padding-top: 10px;
  animation: floating 2s infinite ease-in-out;
}
.winner__box__msg {
  text-align: center;
  font-family: var(--font-title);
  font-size: var(--font-size-h1-small);
}
.winner__box__time {
  margin-top: 30px;
}
.winner__box__button {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

/* ANIMATION */
.anim_gagnant {
  animation: gagnant 0.5s ease-in-out forwards;
}

@keyframes gagnant {
  0% {
    top: 1500px;
  }
  100% {
    top: 0px;
  }
}