body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: cursive;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(246, 165, 242, 0.7);
    border-radius: 40px;;
    padding: 30px;
    margin: 50px;
    max-width: 750px;
    color: rgb(155, 48, 182);
    font-size: 1.2em;
}

h1, h3 {
    background-color: white;
    text-align: center;
    border-radius: 15px;
    padding: 5px 10px;
    margin: 10px;
}

.login {
    width: 90%;
    border: 3px solid white;
    border-radius: 15px;
    margin: 10px;
}

nav ul {
    display: flex;
}

li {
    background: blueviolet;
    list-style: none;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}

li:active {
    position: relative;
    top: 2px;
    left: 2px;
}

a {
    color: white;
    font-weight: bold;
}

input, label {
    margin: 7px;
}