<?php
/**
 * --- PHPMailer
 */

use PHPMailer\PHPMailer\PHPMailer;
use PHPMailer\PHPMailer\Exception;

function sendMail($mailTo, $pseudo, $subject, $message) {

  require './vendor/autoload.php';

  $mail = new PHPMailer(TRUE);
  /* ... */
  try {
    $mail->setFrom('mailadresse', 'name');
    $mail->addAddress($mailTo, $pseudo);
    $mail->Subject = $subject;
    $mail->Body = $message;

    /* SMTP parameters. */

    $mail->isSMTP();
    $mail->Host = 'smtp.gmail.com';
    $mail->SMTPAuth = TRUE;
    $mail->SMTPSecure = 'tls';
    $mail->Username = 'mailadresse';
    $mail->Password = 'password';
    $mail->Port = 587;

    /* Disable some SSL checks. */
    $mail->SMTPOptions = array(
      'ssl' => array(
      'verify_peer' => false,
      'verify_peer_name' => false,
      'allow_self_signed' => true
      )
    );

    /* Enable SMTP debug output, dev purpose only, delete in production */
    // $mail->SMTPDebug = 4;

    /* Finally send the mail. */
    $mail->send();

    return true;
  }
  catch (Exception $e)
  {
    /* PHPMailer exception. */
    echo $e->errorMessage();
  }
  catch (\Exception $e)
  {
    /* PHP exception (note the backslash to select the global namespace Exception class). */
    echo $e->getMessage();
  }
}