/* --- PROFIL --- */
.content__profil {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;

  &__title {
    background: white;
    border: 2px solid var(--clr-font-darker);
    border-radius: 10px;
    box-shadow: 0 5px 12px -1px black;
    margin: 15px;
    padding: 10px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 400px;

    &__card {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 400px;
      background-color: var(--clr-back-light);
      border: 2px solid var(--clr-font-darker);
      border-radius: 2.5rem;
      box-shadow: 0 5px 12px -1px black;
      margin: 25px;
      overflow: hidden;

      &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & img {
          min-width: 60px;
          max-width: 60px;
          min-height: 60px;
          max-height: 60px;
        }

        & h2 {
          display: flex;
          align-items: center;
          padding: 5px;
          width: 100%;
        }  
      }

      &__toggle {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: var(--clr-back-light);
        padding: 5px;
        position: relative;
        bottom: 0;
        overflow: hidden;

        & h3 {
          background-color: var(--clr-back-logo);
          border: 2px solid var(--clr-font-darker);
          border-radius: 10px;
          padding: 3px 10px;
          margin: 10px;
          cursor: pointer;
        }

        & p {
          width: 80%;
          margin: 10px;
        }

        & form {
          display: flex;
          flex-direction: column;
          margin: 0 0 10px 0;
        }

        & input {
          padding: 8px;
          margin: 5px;
        }      
        & label {
          margin: 5px;
        }      
      }
    }
  }
}

.shrink {
  animation: frontShrink 250ms 100ms both;
}

.extend {
  animation: frontExtend 250ms 100ms both;
}

@keyframes frontShrink {
  0% {
  height: 350px; 
  }

  100% {
    height: 60px; 
  }
}

@keyframes frontExtend {
  0% {
  height: 60px; 
  }

  100% {
    height: 350px; 
  }
}
